<!DOCTYPE html>
<html lang="en">
  <head>   
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='graphics.css') }}" type="text/css"> -->
    <title>Annotation Task</title>
  </head>
  <body>
        <header> </header>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->

    Please click
    <a href="{{url}}">here</a>
 
  </body>
</html>
